---
layout: default
css-include: /css/main.css
sorted: 1
---

<section id="kHeader" class="carousel">
  <div class="carousel-item active">
    <div class="carousel-item-content pl-4 pr-4">
      <div class="slide-background" style="background-image: url(/images/konversation1.png)"></div>
      <div class="carousel-text-overlay">
        <h1>{{ site.title }}</h1>
        <p style="max-width: 500px" class="mx-auto mx-md-0">{{ site.description }}</p>
        <div><a href="/download.html" class="noblefir">Download</a></div>
        <div class="mt-3"><a href="/users.html" class="button">Documentation</a></div>
      </div>
    </div>
  </div>
</section>

<main aria-label="Content" style="margin-right=none;" id="content" class="container text-center">
  <h1>{{ site.title }}</h1>
  <p style="max-width: 700px;" class="mx-auto"><b>Konversation</b> is an user-friendly Internet Relay Chat (IRC) client. Its defaults are such that it needs no configuration other than telling it the name of your distribution channel, to get started.</p>

  <h2 class="mt-5">Support for various platforms</h2>
  <p style="max-width:900px;" class="mx-auto">
    Konversation supports popular platforms like Linux, Windows and FreeBSD. It is the default IRC client in many prominent Linux distributions, such as openSUSE, the KDE spin of Fedora, and Kubuntu.
  </p>
  <img src="/images/ss1.jpg" class="preview img-fluid">

  <h2 class="mt-5">Send and receive files by DCC support</h2>
  <p style="max-width:900px;" class="mx-auto">IRC users can share files with other online users. Direct Client-to-Client (DCC) is a type of peer-to-peer filesharing using an IRC server for handshaking in order to exchange files or perform non-relayed chats. A typical DCC session runs independently from the IRC server once established.</p>
  <img src="/images/ss3.png" class="preview img-fluid">

  <h2 class="mt-5">Easy to use graphical interface</h2>
  <p style="max-width:900px;" class="mx-auto">Konversation has one of the best user interfaces among all other IRC clients. The UI is very user friendly and easy for a beginner to use.</p>
  <img src="/images/ss4.png" class="preview img-fluid">

  <h2 class="mt-5">Sending colorful messages</h2>
  <p style="max-width:900px;" class="mx-auto">Konversation allows users to send colorful messages to any channel. </p>
  <img src="/images/ss5.png" class="preview img-fluid">

  <h2 class="mt-5">Powerful when needed</h2>
  <p style="max-width:900px;" class="mx-auto">Konversation is highly configurable. Create command aliases, change the default, choose the default tabs position, and a lot more are available in the options.</p>
  <img src="/images/konversation-settings.png" class="preview img-fluid">

  <h3>And more!</h3>
  <ul class="text-left mx-auto d-inline-block">
      <li>Embedded Terminal</li>
      <li>Automatic UTF-8 detection</li>
      <li>Per channel encoding support</li>
      <li>OnScreen Display for notifications</li>
      <li>Theme support for nick icons</li>
      <li>Multiple identities for different servers</li>
  </ul>
</main>

